<!DOCTYPE html>
<html lang="pt_BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Calculadora Iphone</title>
</head>
<body>
  <div>
    <input [value]="resul">
  </div>
    <button value="#" id="Pline" (click)="LimparTerminal()">C</button>
    <button value="#" id="Pline" (click)="reverter()" >+/-</button>
    <button value="#" id="Pline" (click)="porcentagem()" >%</button>
    <button (click)="divisao()" id="Pcolum">/</button>
    <br>
    <button value="7" id="SecondLine" (click)= "valor1($event.target.value)">7</button>
    <button value="8" id="SecondLine" (click)= "valor1($event.target.value)">8</button>
    <button value="9" id="SecondLine" (click)= "valor1($event.target.value)">9</button>
    <button (click)="multiplicacao()" id="Pcolum" >*</button>
    <br>
    <button value="4" id="tLine" (click)= "valor1($event.target.value)">4</button>
    <button value="5" id="tLine" (click)= "valor1($event.target.value)">5</button>
    <button value="6" id="tLine" (click)= "valor1($event.target.value)">6</button>
    <button (click)="subtracao()" id="Pcolum" >-</button>
    <br>
    <button value="1" id="fLine" (click)= "valor1($event.target.value)">1</button>
    <button value="2" id="fLine" (click)= "valor1($event.target.value)">2</button>
    <button value="3" id="fLine" (click)= "valor1($event.target.value)">3</button>
    <button (click)="soma()" id="Pcolum">+</button>
    <br>
    <button value="0" id="Zclass" (click)= "valor1($event.target.value)">0</button>
    <button value="," id="#" (click)= "valor1($event.target.value)">,</button>
    <button (click)="resultado()" id="Pcolum">=</button>
    <br>
    {{resul}}
  
</body>
</html>